<footer class="d-flex flex-wrap justify-content-between align-items-center border-top p-3 pt-4 mt-5">

    <div class="">
        <a routerLink="/" class="d-flex justify-content-center">
            <img src="assets/images/factory.png" alt="Logo de la plataforma">
        </a>
        <p class="mt-3">
            © 2024 Vizzius
        </p>
    </div>

    <ul class="nav justify-content-end">
        <li class="nav-item"><a routerLink="/" class="nav-link px-2">Home</a></li>
        <!-- <li class="nav-item"><a routerLink="/" class="nav-link px-2">Juegos</a></li> -->
        <li class="nav-item"><a routerLink="/quiensoy" class="nav-link px-2">Quien soy</a></li>
    </ul>
</footer>