<main class="form-signin w-100 m-auto">
    <form>
        <!-- @if (wrong_credentials.state) {
            <app-sweet-alert [message]="wrong_credentials.message"/>
        } -->

        <!-- <div class="row">
            <img
                class="mb-4"
                src="https://brandemia.org/contenido/subidas/2022/10/marca-mcdonalds-logo.png"
                alt=""
                width="600"
                height="auto">
        </div> -->
        <h1 class="h3 mb-3 fw-normal text-center">
            Please sign in
        </h1>

        <div class="form-floating">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com"
                [(ngModel)]="email" name="email">
            <label for="floatingInput">
                Email address
            </label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password"
                [(ngModel)]="password" name="password">
            <label for="floatingPassword">
                Password
            </label>
        </div>

        <div class="form-check text-start my-3">
            <input class="form-check-input" type="checkbox" value="remember-me" id="flexCheckDefault"
                [(ngModel)]="remember_me" name="remember-me">
            <label class="form-check-label" for="flexCheckDefault">
                Remember me
            </label>
        </div>
        <button class="btn btn-primary w-100 py-2" (click)="logearse()">
            Sign in
        </button>
        <p class="mt-5 mb-3 text-body-secondary">&copy; 2017–2024</p>
    </form>
</main>