<div class="container mt-5">
    <!-- <div class="row my-2 d-flex justify-content-center" id="contenedorTitulo">
        <h1 class="my-4">Ahorcado</h1>
    </div> -->
    <div class="row">
        <div class="col d-flex justify-content-center">
            <canvas #canvas id="game" class="border border-secondary border-5" width="1400" height="600"></canvas>
        </div>
    </div>
    <!-- <div>
      <button *ngFor="let letra of letrasDisponibles" (click)="seleccionarLetra(letra)">{{ letra }}</button>
    </div> -->
</div>