<!-- <div class="row my-5">
    <h1 class="text-center">Quien soy</h1>
</div> -->

<div class="container my-5" id="quien-soy-contenedor">
    <div class="row">
        <div class="col d-flex flex-column text-center" id="quiensoy-contenedor-texto">
            <div class="p-5">
                <h2 class="mb-3">Mi nombre es <span id="nombre">Guido Pascucci</span></h2>
                <p>
                    ¡Hola a todos!
                </p>
                <p>
                    Tengo 28 años y soy estudiante de la <strong>tecnicatura en programación</strong>, brindada por la
                    Universidad Tecnológica Nacional de la República Argentina.
                </p>
                <p>
                    Soy una persona aficionada a la tecnología y a la ciencia en general, con gustos en diversas ramas.

                </p>
                <p>
                    En el campo de la programación tengo intereses sobre backend y frontend de aplicaciones web, y
                    desarrollo de juegos (comenzando aquí y ahora).                    
                </p>
                <p>
                    Espero les agrade mi sitio. Bienvenidos!
                </p>
            </div>
        </div>
        <div class="col d-flex justify-content-center p-0" id="quiensoy-contenedor-img">
            <img class="" src="assets/images/quiensoy0.png" alt="Foto de mi persona">
        </div>
    </div>
</div>