
h1 {
    font-size: 50px;
    font-weight: 800;
}

h1, h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#nombre {
    font-style: italic;
}

p {
    font-size: 18px;
}